.profile-info {
    display: grid;
    grid-template-columns: 80px 1fr;
}
.profile-info__avatar {
    margin-right: 15px;
}
.personal-info__item-contacts {
    border-top: 1px solid #000;
    margin-top: 15px;
    padding-top: 15px;
}
.personal-info {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
}
.change-avatar {
    display: flex;
    flex-direction: column;
}
.change-avatar__input {
    opacity: 0;
    visibility: hidden;
}
.change-avatar__element {
    border: 1px solid rgb(24, 97, 131);
    background-color: rgb(87, 160, 194);
    font-size: 12px;
    color: #fff;
    justify-self: center;
    text-align: center;
    cursor: pointer;
}
.change-avatar__element:hover {
    background-color: rgb(54, 107, 131);
}
@media screen and (max-width: 800px) {
    .profile-info h3{
        font-weight: 500;
        font-size: 16px;
    }
}