.sidebar-menu {
    position: absolute;
    background-color: rgb(157, 171, 196);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 280px;
    padding: 25px 0;
    text-align: center;
}