/*  Styles for Content */

.content {
    padding: 20px;
    margin-top: 60px;
    margin-left: 120px;
    height: 100%;
}
.avatar {
    border-radius: 50%;
    border: 1px solid #000;
}
.preloader {
    width: 200px;
    margin: auto auto;
}
div .preloader {
    display: block;
    margin-top: 200px;
}
@media screen and (max-width: 800px) {
    .content {
        margin-left: 0;
        padding: 10px;
    }
}