.sidebar {
    display: grid;
    background-color: rgb(157, 171, 196);
    height: 100%;
    align-content: flex-start;
    position: fixed;
    top: 64px;
}

@media screen and (max-width: 800px) {
    .sidebar {
        transform: translate(-140px);
    }
}
