.header {
    background-color: rgb(178, 194, 223);
    grid-column-start: 1;
    grid-column-end: 3;
    position: fixed;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__login-userName,
.header__login-logout {
    margin-right: 30px;
    border: 1px solid black;
    padding: 5px;
}
.header__login-userName:hover,
.header__login-logout:hover {
    background-color: rgba(0, 0, 0, 0.178);
}
.header__login-login {
    border: 1px solid black;
    padding: 5px;
    cursor: default;
}
.header__login-logout {
    cursor: pointer;
}
