.header {
    background-color: rgb(178, 194, 223);
    grid-column-start: 1;
    grid-column-end: 3;
    position: fixed;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__login-userName,
.header__login-logout {
    margin-right: 30px;
    border: 1px solid black;
    padding: 5px;
}
.header__login-userName:hover,
.header__login-logout:hover {
    background-color: rgba(0, 0, 0, 0.178);
}
.header__login-login {
    border: 1px solid black;
    padding: 5px;
    cursor: default;
}
.header__login-logout {
    cursor: pointer;
}



.burger-menu {
    display: none;   
    width: 50px; 
    margin-left: 10px;
    
}
.burger-menu__item,
.burger-menu__item:after,
.burger-menu__item:before {
    border: 1px solid #000;
    width: 30px;
    transition: all 0.5s ease;
}
.burger-menu__item{
    position: relative;
    
}
.burger-menu__item:after,
.burger-menu__item:before {
    content: '';
    position: absolute;
    left: -1px;
}
.burger-menu__item:after {
    top: 9px;
}
.burger-menu__item:before {
    top: -12px;
}
.burger-menu.active .burger-menu__item:after{
    top: 0;
    transform: rotate(45deg);
}
.burger-menu.active .burger-menu__item:before{
    top: 0;
    transform: rotate(-45deg);
}
.burger-menu.active .burger-menu__item{
    border: 1px solid transparent;
}


@media screen and (max-width: 800px) {
    .header__logo {
        display: none;
    }
    .burger-menu {
        display: block;
    }
}
