.create-post {
    display: grid;
    gap: 5px;
    width: 100%;
}
.btn-send {
    width: 50px;
    justify-self: end;
}
.input-post {
    height: 60px;
    border: 1px solid #000;
    resize: none;
    width: 100%;
}