* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
body, #root {
  height: 100%;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 100%;
}
.header {
  background-color: rgb(178, 194, 223);
  grid-column-start: 1;
  grid-column-end: 3;
}
.logo {
  width: 60px;
}
.sidebar {
  display: grid;
  background-color: rgb(178, 194, 223);
  height: 100%;
  align-content: flex-start;
}
.menu-item {
  padding: 10px 30px;
  cursor: pointer;
}
.sidebar-item:hover {
  background-color: rgb(136, 145, 163);
}

/*  Styles for Content */

.content {
  padding: 20px;
}
.avatar {
  border-radius: 50%;
  border: 1px solid #000;
}
.profile {
  display: grid;
  grid-template-columns: 1fr 100%;
  gap: 30px;
}
.post {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  gap: 15px;
}
.create-post {
  display: grid;
  gap: 5px;
}
.btn-send {
  width: 50px;
}
.input-post {
  width: 25%;
  height: 60px;
}
.post-list {
  display: grid;
  gap:  15px;
}
.item-post {
  display: grid;
  grid-template-columns: 1fr 100%;
  gap: 10px;
}
.item-post__avatar {
  grid-row-start: 1;
  grid-row-end: 3;
}
