
.form-control.error input,
.form-control.error textarea {
    border: 2px solid red;
}
.form-control.error span {
    color: red;
    font-weight: 600;
}
.form-control {
    display: flex;
    flex-direction: column;
}
.form-login-error {
    border: 2px solid red;
    color: red;
    margin-bottom: 10px;
}